{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}

	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		
		<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8 ">
				<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
					Authentification
				</h1>

				<!-- Affichage des messages d'erreur -->
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

				<form action={{ path('connexion') }} method="post" class="space-y-4 md:space-y-6" >
				 	{{ form_row(form._token) }}
					<div>
						{{ form_label(form.ConnectEmail) }}
						{{ form_widget(form.ConnectEmail)}}
					</div>
					<div>
						{{ form_label(form.ConnectMdp) }}
						{{ form_widget(form.ConnectMdp)}}
					</div>
					<div class="flex items-center justify-between">
						<div class="flex items-start">
						</div>
						<a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Mot de passe oublié ?</a>
					</div>
					{{ form_widget(form.submit) }}
					<p class="text-sm font-light text-gray-500 dark:text-gray-400">
						pas de compte ?
						<a href={{ path('inscription') }} class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inscription</a>
					</p>					
				</form>
			</div>
		</div>
	</div>
 <!-- Inclure Bootstrap JS pour le comportement de la pop-up -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
