{#form Ajouter produit (1 par 1)#}

{% extends 'BO/BObase.html.twig' %}

{% block title %}Ajouter Produit
{% endblock %}


{% block body %}

	<div class="p-16 rounded shadow-md max-w-lg px-24 mx-auto">
		<h1 class="text-3xl font-bold mb-6">Ajouter un Produit</h1>

		<div class="bg-gray-100 rounded shadow-md mx-auto">
			{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
			
			{{ form_row(form.produit.nom_prod) }}
		</div>
		<div>
			
			{{ form_row(form.produit.description_prod) }}
		</div>
		<div>
		
			{{ form_row(form.produit.prix_prod) }}
			{{ form_errors(form.produit.prix_prod) }}
		</div>
		<div>
			
			{{ form_row(form.produit.stock) }}
		</div>
		<div class="radio-container">

			
			{{ form_row(form.produit.disponibilite) }}
		</div>
		<div class="radio-container">
			
			{{ form_row(form.produit.highlander) }}
		</div>
		<div>
			
			{{ form_row(form.produit.ordre) }}
		</div>
		<div>
			
			{{ form_row(form.produit.categorie) }}
		</div>

		<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
			<div>
				{{ form_row(form._token) }}
				{{ form_row(form.images.image) }}
				{{ form_row(form.images.nom_image) }}
			</div>
		</div>

		<div class="col-span-2">
			{{ form_row(form.submit) }}
		</div>
	</div>
	{{ form_end(form) }}
</div>{% endblock %}
