{% extends 'BO/BObase.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
<h1>Liste des Commandes</h1>

<table>
    <thead>
        <tr>
            <th>ID Commande</th>
            <th>Nom Utilisateur</th>
            <th>Date de Commande</th>
            <th>Produits</th>
            <th>Quantité</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.id_util.nom }} {{ commande.id_util.prenom }}</td>

                {# Vérification pour afficher la date des détails de la commande #}
                <td>
                    {% if commande.id_com|length > 0 %}
                        {{ commande.id_com|first.date_commande|date('d/m/Y') }}
                    {% else %}
                        <em>Pas de date de commande</em>
                    {% endif %}
                </td>

                <td>
                    <ul>
                        {% if commande.produitCommande|length > 0 %}
                            {% for produitCommande in commande.produitCommande %}
                                <li>{{ produitCommande.id_produit.nom_prod }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Aucun produit</li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% if commande.produitCommande|length > 0 %}
                            {% for produitCommande in commande.produitCommande %}
                                <li>{{ produitCommande.quantite }}</li>
                            {% endfor %}
                        {% else %}
                            <li>--</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
