{% extends 'BO/BObase.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-orange-600 mt-12 shadow-md">Liste des Commandes</h1>
    <br/><br/>
    
    <table class="min-w-full p-5 bg-white border border-gray-600">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal border border-gray-600">
                <th class="py-3 px-6 text-center font-semibold text-gray-700 border-r border-gray-600 text-lg">ID Commande</th>
                <th class="py-3 px-6 text-center font-semibold text-gray-700 border-r border-gray-600 text-lg">Nom Utilisateur</th>
                <th class="py-3 px-6 text-center font-semibold text-gray-700 border-r border-gray-600 text-lg">Date de Commande</th>
                <th class="py-3 px-6 text-center font-semibold text-gray-700 border-r border-gray-600 text-lg">Produits</th>
                <th class="py-3 px-6 text-center font-semibold text-gray-700 border-r border-gray-600 text-lg">Supprimer</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            {% for commande in commandes %}
                <tr class="border-b border-gray-600 hover:bg-gray-100">
                    <td class="py-3 px-6 text-center border-r border-gray-600 text-lg">{{ commande.getId() }}</td>
                    <td class="py-3 px-6 text-center border-r border-gray-600 text-lg">{{ commande.getIdUtil().getNom() }} {{ commande.getIdUtil().getPrenom() }}</td>
                    <td class="py-3 px-6 text-center border-r border-gray-600 text-lg">
                        {% for detailCommande in commande.getIdCom() %}
                            {{ detailCommande.dateCommande ? detailCommande.dateCommande|date('Y-m-d') : 'Date non disponible' }}
                        {% endfor %}
                    </td>
                    <td class="py-3 px-6 text-center border-r border-gray-600 text-lg">
                        <ul>
                            {% for produitCommande in commande.getIdProduitCommande() %}
                                <li>{{ produitCommande.getIdProduit().getNomProd() }} [{{ produitCommande.getQuantite() }}]</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="py-3 px-6 text-center border-r border-gray-600 text-lg">
                        <!-- Code pour supprimer -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
