{% extends 'BO/BObase.html.twig' %}


{% block title %}Liste des Produits
{% endblock %}

{% block body %}
	<h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-orange-600 mt-12 shadow-md">Liste des Produits</h1>
	<br><br>
	<div class="flex items-center justify-center h-screen">
		<label for="ajouterProd" class="mr-4">Ajouter un produit :</label>
		<a href="{{ path('BO/ajouterProduit') }}" id="ajouterProd" class="inline-block text-center bg-orange-500 text-white font-semibold py-3 px-6 rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-50">
			Ajouter
		</a>
	</div>
	<table class="min-w-full p-5 bg-white border border-gray-600">
		<thead>
			<tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal border border-gray-600">
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Id Produit</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Nom Produit</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Image du produit</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Description Produit</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Prix Produit</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Stock</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Disponibilité</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Is Highlander</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Ordre</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Materiaux</th>
				<th class="py-3 px-6 text-left font-semibold text-gray-700 border-r border-gray-600">Catégorie</th>
				<th class="py-3 px-6 text-center font-semibold text-gray-700">Actions</th>
			</tr>
		</thead>
		<tbody class="text-gray-600 text-sm font-light">
			{% for produit in produits %}
				<tr class="border-b border-gray-600 hover:bg-gray-100">
					<td class="py-3 px-6 text-left border-r whitespace-nowrap border-gray-600">{{ produit.getId() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getNomProd() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">
						{% for imagesProduit in produit.getImagesProduits() %}
							<img class="max-w-full max-h-48 object-contain" src="{{ asset('images/Produits/' ~ imagesProduit.getImage().getNomImage() ~ '.jpg') }}" alt="{{ produit.getNomProd() }}">
						{% endfor %}
					</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getDescriptionProd() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getPrixProd() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getStock() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getDisponibilite() ? 'Oui' : 'Non' }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getHighlander() ? 'Oui' : 'Non' }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getOrdre() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">
						{% for produitMateriaux in produit.getProduitMateriaux() %}
							{{ produitMateriaux.getIdMateriaux().getNomMat() }}
							{% if not loop.last %},
							{% endif %}
						{% else %}
							Aucun matériau
						{% endfor %}
					</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">{{ produit.getCategorie().getNomCat() }}</td>
					<td class="py-3 px-6 text-left border-r border-gray-600">
						<a href="{{ path('BO/modifierProduit', {'id': produit.getId()}) }}" class="text-yellow-500 hover:underline mx-2">Modifier</a>
						<a href="{{ path('BO/supprimerProduit', {'id': produit.getId()}) }}" class="supprimer-produit text-red-500 hover:underline">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
	{# Inclure le CSS de DataTables #}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
	{# Inclure jQuery (si ce n'est pas déjà le cas) et le script DataTables #}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () { 
		// Activer DataTables sur le tableau
		 $('table').DataTable({
                searching: false // Désactiver la barre de recherche
            });

			// Gestion de la confirmation de suppression
            $('table').on('click', '.supprimer-produit', function(event) {
                event.preventDefault(); // Empêche la navigation automatique
                const userConfirmed = confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');
                if (userConfirmed) {
                    window.location.href = this.href; // Redirige vers le lien de suppression
                }
            });

// Affichage des messages flash
const flashMessages = {{ app.session.flashBag.all|json_encode|raw }};

// Boucle sur les types de messages (success, error, etc.)
for (const type in flashMessages) {
if (flashMessages.hasOwnProperty(type)) {
flashMessages[type].forEach(message => { // Créer une alerte JS pour chaque message
alert(message);
});
}
}
});
	</script>

{% endblock %}
