

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block body %}


        <h1 class="text-3xl font-bold mb-6">Inscription</h1>
        <form action="#" method="post" class="bg-gray-100 p-8 rounded shadow-md max-w-lg px-32 mx-auto">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                <div>
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div>
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    {{ form_label(form.mdp) }}
                    {{ form_widget(form.mdp) }}
                </div>
                <div>
                    {{ form_label(form.mdp_comfirmation) }}
                    {{ form_widget(form.mdp_comfirmation) }}
                </div>
                <button type="submit" class="w-full bg-orange-400 text-white py-2 rounded-md hover:bg-orange-600">S'inscrire</button>
            </div>
        </form>


{% endblock %}


