{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-orange-600 mt-12 shadow-md">
    Checkout
    <br><br>
</h1>

<div class="container mx-auto mt-5">
    <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-md p-6">

        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.adresse.libelle_voie, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(form.adresse.libelle_voie, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(form.adresse.code_postal, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(form.adresse.code_postal, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
           
        </div>

        <div class="mb-4">
            {{ form_label(form.adresse.ville, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(form.adresse.ville, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
           
        </div>

        {# <div class="mb-4">
            {{ form_label(form.adresse.type_adresse, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(form.adresse.type_adresse, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(form.adresse.type_adresse) }}
        </div> #}

        <div class="mb-4">
            {{ form_label(form.adresse.pays, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(form.adresse.pays, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
          
        </div>

        <div>
         {{ form_label(form.client.nom_carte, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.nom_carte, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
         <div>
         {{ form_label(form.client.telephone, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.telephone, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
         <div>
        {{ form_label(form.client.methode_paiement, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.methode_paiement, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
        <div>
         {{ form_label(form.client.numero_carte, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.numero_carte, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
        <div>
         {{ form_label(form.client.date_expiration_carte, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.date_expiration_carte, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
        <div>
         {{ form_label(form.client.CVV, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
         {{ form_widget(form.client.CVV, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
        </div>
        

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
