{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-orange-600 mt-12 shadow-md">
    Checkout
    <br><br>
</h1>

<div class="container mx-auto mt-5">
    <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-md p-6">

        {{ form_start(adresseForm) }}
        <div class="mb-4">
            {{ form_label(adresseForm.libelle_voie, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(adresseForm.libelle_voie, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(adresseForm.libelle_voie) }}
        </div>
        
        <div class="mb-4">
            {{ form_label(adresseForm.code_postal, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(adresseForm.code_postal, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(adresseForm.code_postal) }}
        </div>

        <div class="mb-4">
            {{ form_label(adresseForm.ville, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(adresseForm.ville, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(adresseForm.ville) }}
        </div>

        <div class="mb-4">
            {{ form_label(adresseForm.type_adresse, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(adresseForm.type_adresse, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(adresseForm.type_adresse) }}
        </div>

        <div class="mb-4">
            {{ form_label(adresseForm.pays, null, { 'attr': {'class': 'block text-gray-700 font-bold mb-2'} }) }}
            {{ form_widget(adresseForm.pays, { 'attr': {'class': 'form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50'} }) }}
            {{ form_errors(adresseForm.pays) }}
        </div>
        
        {{ form_end(adresseForm) }}
    </div>
</div>
{% endblock %}
