{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto mt-12 px-4">
	<h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-orange-600 mb-12 shadow-md">
		Paiement
	</br>
</br></h1>{% if produits is not empty %}
{% for productGroup in produits %}
	{% set produit = productGroup[0] %}
		<div>
			<strong>Nom de l'image:</strong>
			{{ produit.nom_image }}<br>
			<strong>Nom du produit:</strong>
			{{ produit.nom_prod }}<br>
			<strong>Prix du produit:</strong>
			{{ produit.prix_prod }}<br>
		</div>
{% set produit = productGroup[1] %}
         <div>
    <p>quantite</p>
        {{ produit }}
        </div>
		<hr>
	
  
{% endfor %}
{% else %}
<p>No products found.</p>
{% endif %}

{% if clients is not empty %}

{% for client in clients %}
<div>
	<strong>Libellé Voie:</strong>
	{{ client.libelle_voie }}<br>
	<strong>Code Postal:</strong>
	{{ client.code_postal }}<br>
	<strong>Ville:</strong>
	{{ client.ville }}<br>
	<strong>Pays:</strong>
	{{ client.pays }}<br>
	<strong>Nom:</strong>
	{{ client.nom }}<br>
	<strong>Prénom:</strong>
	{{ client.prenom }}<br>
</div>
<hr>{% endfor %}{% else %}<p>No client details found.</p>{% endif %}
</div>


{% endblock %}
